$colorPrimary: #FFA235;
$colorSecondary: #3C4196;
$colorCharade: #2E2F3C;
$colorComet: #55576F;
$colorChambray: #3C4196;
$colorPizazz: #FF8900;
$colorJade: #00B67A;
$colorCultured: #F7F7F9;
$colorSpunPearl: #B0B1C2;
$colorAthensGray: #E6E7EC;
$colorLochinvar: #288E7C;
$colorScampi: #6469AA;
$colorLapisBlue: #2C3183;
$colorSteel: #7F819D;
$calm600: #693F73;
$colorScarlet: #F03306;

:root {
  --color-primary: #{$colorPrimary};
  --color-secondary: #{$colorSecondary};
  --color-charade: #{$colorCharade};
  --color-comet: #{$colorComet};
  --color-chambray: #{$colorChambray};
  --color-pizazz: #{$colorPizazz};
  --color-jade: #{$colorJade};
  --color-cultured: #{$colorCultured};
  --color-spun-pearl: #{$colorSpunPearl};
  --color-athens-gray: #{$colorAthensGray};
  --color-lochinvar: #{$colorLochinvar};
  --color-scampi: #{$colorScampi};
  --color-lapis-blue: #{$colorLapisBlue};
  --color-steel: #{$colorSteel};
  --color-calm-600: #{$calm600};
  --color-scarlet: #{$colorScarlet}
}
