@mixin page-boundary {

  height: 100%;

  padding: 0 12px;

  @media screen and (min-width: 769px) {

    padding: 0 20px;
  }

  @media screen and (min-width: 1024px) {
    padding: 0 40px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 64px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1440px;

    margin: 0 auto;
  }
}
