@import "../abstracts/index";

@mixin button() {
  $bgColor: $colorPrimary;
  $hoverColor: $colorSecondary;

  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 50px;
  padding: 10px 28px;

  background-color: $bgColor;
  border-radius: 60px;

  font-family: 'Acumin Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;
  transition: all 200ms ease-in;

  cursor: pointer;

  @media screen and (min-width: 768px) {
    min-height: 50px;
    padding: 13px 36px;
  }

  &[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &:hover {
    background-color: $hoverColor;
  }

  &.btn-no--hover {
    background-color: $colorPrimary;
  }

  &.btn-no-hover:hover {
    background-color: $bgColor;
  }

  &--secondary {
    $bgColor: $colorSecondary;
    $hoverColor: $colorPrimary;

    background-color: $bgColor;

    &:hover {
      background-color: $hoverColor;
    }

  }

  &--compact {
    min-height: auto;
    width: max-content;

    padding: 10px 1rem;

    text-transform: none;
  }

  &--outlined {
    background-color: transparent;
    border: 1px solid $bgColor;
    color: $bgColor;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &--sm {
    padding: 5px 1rem;
    min-height: auto;
    width: max-content;

    border-radius: 6px;
  }

  &--full {
    width: 100%;
  }
}

.btn {
  @include button
}

button, button[type='submit'] {
  &.btn {
    @include button
  }
}
