@import "../abstracts/index";

#emma-sleep-footer {
  .form-success {
    color: #56ad6a;
    background-color: #ecfef0;
    border-color: #56ad6a;
  }

  .form-success a {
    color: #56ad6a;
    text-decoration: underline;
  }

  .form-success a:hover {
    text-decoration: none;
  }

  .note,
  .errors {
    border-radius: 0;
    padding: 6px 12px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    font-size: 0.9em;
    text-align: left;
  }

  .note ul,
  .note ol,
  .errors ul,
  .errors ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  .note li:last-child,
  .errors li:last-child {
    margin-bottom: 0;
  }

  .note p,
  .errors p {
    margin-bottom: 0;
  }

  .note {
    border-color: #212b57;
  }

  .blog-menu-title {
    margin-top: 24px;
  }
}

.site-footer__link a {
  font-size: inherit;
}
.footer-newsletter__checkbox label input[type="checkbox"] {
  margin: 0;
}