.site-header-wrapper {
  position: sticky;
  top: calc(40px - 1px);
  z-index: 999;

  //box-shadow: 0px 6px 25px 2px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #f7f7f9;
}

#header {
  .language-redirection {
    font-size: 14px
  }

  .hidden {
    display: none;
  }

  .flex {
    display: flex;
  }

  .items-center {
    align-items: center;
  }

  .w-max {
    width: max-content;
  }

  .grid {
    display: grid;
  }

  .self-start {
    align-self: flex-start;
  }

  .font-semibold {
    font-weight: 600;
  }

  .gap-7 {
    gap: 28px;
  }

  .gap-5 {
    gap: 20px;
  }

  .w-2\/5 {
    width: 40%;
  }

  .text-\[24px\] {
    font-size: 24px;
  }

  .mr-2 {
    margin-right: 8px;
  }

  @media (min-width: 1024px) {
    .lg\:inline {
      display: inline-block;
    }

    .lg\:hidden {
      display: none
    }
  }

  nav {
    background-color: #ffffff;
  }

  .header-container {
    display: flex;
    padding: 1rem 0;

    justify-content: space-between;
    align-items: center;

    @media (min-width: 1024px) {
      padding: 0;
    }
  }

  #navigation {
    .navigation-list {
      display: none;

      @media (min-width: 1024px) {
        display: flex;
        gap: 1.5rem;
      }

      &__link {
        position: relative;
        padding-bottom: 0.25rem;
        font-size: 14px;

        &--sale {
          font-weight: 700;
          text-transform: uppercase;
          color: #f03306;
        }
      }
    }
  }

  #header-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    @media (min-width: 1024px) {
      gap: 1.25rem;
    }
  }

  #navigation-dropdown {
    display: none;

    @media (min-width: 1024px) {
      display: block;
      position: absolute;
      width: 100%;
    }

    .navigation-dropdown {
      &__container {
        padding-bottom: 1.5rem;
        padding-top: 2rem;
        background-color: #ffffff;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      }

      &__wrapper {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        width: 66.666667%;
        gap: 8rem;
      }

      &__childlink-badge {
        padding: 6px 0.5rem;
        color: #ffffff;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        border-radius: 0.25rem;
        background: #FF8900;
        font-size: 10px;
      }
    }
  }
}
