@import "../../abstracts/index";

#ProductPolicies {
  .benefits {
    display: grid;
    gap: 12px;
    margin-bottom: 24px;

    .unique-selling-point {
      display: grid;
      gap: 4px 8px;
      grid-template-columns: minmax(0, auto) minmax(0, 1fr);
      grid-template-rows: repeat(2, minmax(0, auto));
      justify-content: flex-start;
      align-items: flex-start;
      border: 1px solid #b0b1c2;
      border-radius: 8px;
      padding: 1rem;
      font-size: 14px;

      &:first-child {
        .desc {
          strong {
            color: $colorLochinvar;
          }
        }
      }

      &__icon {
        grid-row: 1 / span 2;
        width: 20px;
        height: 20px;
        object-fit: cover;
      }

      .title {
        flex-grow: 1;
        color: #2e2f3c;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        padding: 0;
      }

      .desc p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
