
#ProductSummary {
  #product-title {
    @media screen and (max-width: 769px) {
      margin-top: 12px;
    }
  }

  .product-description {
    color: black;
    margin: 16px 0 24px 0;

    h6 {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
    }

    p {
      margin-top: 2px;
      font-size: 16px;
      color: #000000;
    }

    ul {
      list-style-type: "\2713 ";
      margin-top: 20px;
      padding: 0 14px;
    }

    li {
      padding-left: 14px;

      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #2e2f3c;
    }
  }
}
