.product__info-container {

  klarna-placement {
    font-size: 20px !important;

    > * {
      width: fit-content !important;
    }
  }

  .container {
    font-weight: 400;
    color: #2E2F3C;
  }

  .shopify-block {
    margin: 0 !important;
  }
}

.product-form {
  klarna-placement {
    font-size: 20px !important;

    > * {
      width: fit-content !important;
    }
  }
}

//Select Klarna Widget
.price-block + .shopify-app-block {
  margin: 0;
}

.qp-widget-container {
  margin-bottom: 0 !important;
  font-weight: 400;
  color: #2E2F3C;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: 768px) {
    font-size: 13px;
    line-height: 20px;
  }
}


.qp--wrapped-content {
  flex-basis: 0;
}

#product-form-installment {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #2E2F3C;

  @media (min-width: 768px) {
    font-size: 13px;
    line-height: 20px;
  }
}

#shoppay-container {
  margin: 0;
}

.ca-promotional-widget {
  margin: 0;
}

.ca-promotional-widget-container {
  font-size: 13px;
  text-align: left;
  color: #2e2f3c;
  @media screen and (min-width: 749px) {
    display: inline-block;
  }
}

.ca-promotional-widget-link {
  font-weight: normal;
  color: #2e2f3c;
}

.ca-promotional-widget-text-links-container div {
  display: flex !important;
  align-items: flex-end !important;
  justify-content: left !important;
}

.ca-promotional-widget-image img {
  max-height: 22px;
  min-height: 22px;
}

.ca-promotional-widget-text-container {
  font-size: 13px;
  text-align: left;

  @media screen and (min-width: 749px) {
    margin-left: 6px;
  }

  b {
    color: #2e2f3c;
    margin: 0 3px;
  }
}

