#why-us-section {
  .wrapper {
    display: grid;
    gap: 20px;
    justify-items: center;
    margin: 0 1rem;
    padding: 40px 0;

    background: #F0F0F5;
    border-radius: 20px;
    overflow: hidden;
    @media (min-width: 768px) {
      gap: 60px;
      margin: 0 2rem;
      padding: 60px 0;
    }
    @media (min-width: 1024px) {
      margin: 0 4rem;
    }

    &--borderless {
      margin: 0;
      border-radius: 0;
    }
  }

  .benefits {
    display: grid;
    gap: 40px;
    grid-auto-flow: row;
    align-content: flex-start;
    align-items: flex-start;

    @media (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
      width: 60%;
    }
    &__item {
      display: grid;
      gap: 16px;
      grid-template-columns: minmax(0, 60px) minmax(0, 1fr);
      align-items: center;
      justify-items: flex-start;
      text-align: left;
      @media (min-width: 768px) {
        gap: 28px;
        grid-template-columns: initial;
        grid-auto-flow: row;
        justify-items: center;
        text-align: center;
      }
    }
  }

  .btn:hover {
    background-color: #ff8900;
    color: white;
  }
}
