$faq: ".faq";

.faqs {
  display: grid;
  gap: 16px;
  margin: 16px 0;
  @media screen and (min-width: 769px) {
    gap: 25px;
    margin: 0;
  }
}

.faq {
  display: grid;
  gap: 16px;
  @media screen and (min-width: 769px) {
    gap: 24px;
  }

  &.is-open {
    #{$faq}__icon {
      transform: rotate(180deg);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    cursor: pointer;
  }

  &__question {
    font-family: 'Acumin Pro';
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  &__answer {
    &.iframe-container {
      min-height: 720px;

    }

    @media screen and (max-width: 769px) {
      min-height: 1056px;
    }

    > * {
      font-family: 'Acumin Pro';
      @media screen and (max-width: 769px) {
        font-size: 16px;
      }
    }
  }

  &__icon {
    transition: all 0.2s;
    transform-origin: center center;

    @media screen and (max-width: 769px) {
      width: 12px;
      height: 12px;
    }
  }
}
