.product-card {
  $productCard: ".product-card";
  $product: ".product";
  $badgeContainer: ".product-card-badge-container";
  $badge: ".product-card-badge";
  $productMedia: ".product-card-media";
  $productMetadata: ".product-card-metadata";
  $productDetail: ".product-card-detail";

  display: grid;
  gap: .8rem;
  align-items: flex-start;
  grid-template-rows: minmax(0, auto) minmax(0, 1fr);

  height: 100%;
  max-width: 224px;

  background-color: $colorCultured;

  border-radius: 8px;
  overflow: hidden;

  @media screen and (min-width: 769px) {
    position: relative;

    max-width: 304px;
  }


  #{$productMedia} {
    display: flex;
    justify-content: flex-start;
    width: 100%;

    #{$product}__image {
      aspect-ratio: 1.33;
      object-fit: cover;
    }
  }
  #{$productDetail} {
    height: 100%;
  }
  &-metadata {
    display: grid;
    gap: 4px;
    align-items: flex-start;
    align-content: center;
    height: 100%;
    padding: 8px 12px;
  }

  #{$badgeContainer} {
    position: absolute;
    top: 8px;
    left: 8px;

    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, minmax(0, auto));
    justify-content: flex-start;
  }

  &-badge {
    color: white;
    max-height: 28px;
    padding: 3px 8px;

    border-radius: 4px;
    font-size: 12px;
    @media screen and (min-width: 769px) {
      font-size: 14px;
    }
  }

  .product {
    &__name {
      font-weight: 500;
      font-size: 16px;
    }

    &__short-desc {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
    }

    &__price {
      font-weight: 400;
      font-size: 16px;
    }
  }

  &.landscape {
    @media screen and (max-width: 769px) {
      gap: 8px;
      grid-template-rows: initial;
      grid-template-columns: minmax(0, .4fr) minmax(0, .6fr);
      max-width: 100%;

      #{$productMedia} {
        height: 100%;
      }

      #{$productDetail} {
        display: grid;
        gap: 8px;
        grid-template-rows: minmax(0, auto) minmax(0, 1fr);
        align-content: space-between;
        justify-items: flex-start;

        padding: 8px 0;
      }

      #{$productMetadata} {
        padding: 0;
      }

      #{$badgeContainer} {
        position: static;
      }
    }
  }
}
