.announcement-bar-wrapper {
  position: sticky;
  top: -1px;
  z-index: 999;

  [type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }

  .announcement-bar {
    height: 70px;
    width: 100%;

    background-color: var(--section-setting-background-color);
    color: var(--section-setting-text-color);

    box-shadow: 0 42px 65px rgba(0, 0, 0, 0.03),
    0 9.38125px 14.5186px rgba(0, 0, 0, 0.018),
    0 2.79304px 4.32257px rgba(0, 0, 0, 0.012);

    &__content {
      font-variant-numeric: tabular-nums;
      text-align: center;
      letter-spacing: 0;

      height: 100%;
      margin: 0;
      padding: 0 30px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      * {
        color: var(--section-setting-text-color);
      }
    }

    @media (min-width: 768px) {
      height: 40px;
    }
  }

  .splide {
    width: 100%;

    &__list {
      width: 100%;
    }

    &__track {
      padding: 0;
    }

    &__arrow {
      transform: translateY(-50%);
      transition: opacity 0.3s ease;

      &:disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
