#product-banners-section {
  display: flex;
  justify-content: center;
  margin: 40px 16px 50px;

  .wrapper {
    display: grid;
    gap: 16px;

    justify-items: center;
    width: 100%;

    @media screen and (min-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));

      max-width: 1440px;
      margin: 0 auto;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 375px;
    padding: 12px;
    background: linear-gradient(122.12deg, #FFF6EC 13.12%, #FFDEB7 109.41%);
    border-radius: 8px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      padding: 30px 50px;
    }

    &__header {
      display: grid;
      gap: 10px;
      justify-items: center;
      text-align: center;
      width: 100%;
      @media screen and (min-width: 768px) {
        justify-items: flex-start;
        text-align: left;
      }
    }

    &__image {
      transform: translate(15%, 5%);
    }


    &__btn {
      z-index: 2;
      padding: 11px 30px;
      width: 100%;
      @media screen and (min-width: 768px) {
        position: absolute;
        bottom: 30px;
        left: 50px;
        width: auto;
      }
    }
  }
}
