.cart-banner {
  display: grid;
  gap: 2px;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  margin: 0.625rem 1.25rem 0;
  padding: 10px;

  color: $colorComet;
  background: #FFF6EC;
  border-radius: 6px;

  text-align: center;

  @media screen and (min-width: 591px) {
    margin: 0.875rem 2.5rem 0;
    padding: 10px 1rem;
  }

  &__free-shipping {
    display: grid;
    gap: 6px;
    grid-auto-flow: column;
    align-items: center;
  }

  p {
    margin: 3px 0 0;

    font-weight: 600;
    font-size: 9px;
    line-height: 120%;
    @media screen and (min-width: 591px) {
      font-size: 10px;

    }
  }
}
