#affiliate-announcement-bar-section {
  position: sticky;
  top: -1px;
  z-index: 101;

  display: none;
  width: 100%;
  height: 100%;
  min-height: 50px;
  max-height: 50px;

  padding: 0.5rem;
  background-color: var(--bg-color);

  .affiliate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }

  p {
    color: var(--text-color);
    font-size: 11px;
    font-family: "Inter",
    sans-serif;

    @media screen and (min-width: 768px) {
      font-size: 18px;
    }
  }

  .affiliate-logo {
    max-height: 1.25rem;
    width: auto;
    max-width: 30%;
    margin-right: 1rem;
    @media screen and (min-width: 768px) {
      max-height: 32px;
    }
  }
}
