#hero-banner-section {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-rows: 0 minmax(0, 1fr);
  min-height: 540px;
  max-height: 540px;
  padding: 12px;

  @media screen and (min-width: 769px) {
    height: 100%;
    min-height: 640px;

    padding: 0;
  }

  .\!hidden {
    display: none !important;
  }

  .page-boundary--full {
    height: 100%;
    padding: 0 12px;

    @media screen and (min-width: 769px) {
      padding: 0 20px;
    }

    @media screen and (min-width: 1024px) {
      padding: 0 40px;
    }

    @media screen and (min-width: 1200px) {
      padding: 0 64px;
    }

    @media screen and (min-width: 1440px) {
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  .section-content {
    position: absolute;
    display: grid;
    gap: 24px;
    align-content: space-between;
    justify-items: center;
    height: 100%;

    @media screen and (max-width: 768px) {
      inset: 0;
      width: 100%;
      padding: calc(24px + 12px) calc(16px + 12px);
    }

    @media screen and (min-width: 768px) {
      top: 0;
      gap: 40px;
      align-content: center;
      justify-items: flex-start;
      max-width: 700px;
    }

    @media screen and (min-width: 769px) and (max-width: 1500px) {
      padding: 0 0 0 5rem;
    }

    .text-box {
      display: grid;
      gap: 16px;

      justify-items: center;
      text-align: center;
      @media screen and (min-width: 768px) {
        justify-items: flex-start;
        text-align: left;
      }
    }
  }

  .hero-banner {
    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 125%;

      @media screen and (min-width: 768px) {
        font-size: 60px;
        line-height: 120%;
      }
    }

    &__subtitle {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 125%;
      font-family: Inter;

      @media screen and (min-width: 768px) {
        font-size: 32px;

        max-width: 528px;
      }
    }

    &__tagline {
      display: none;

      @media screen and (min-width: 768px) {
        display: inline-block;

        max-width: 528px;
      }
    }
  }

  .section-cta {
    display: grid;
    gap: 16px;
    grid-template-columns: minmax(0, 1fr);
    justify-content: center;
    width: 100%;
    max-width: 256px;
    text-align: center;
    @media screen and (min-width: 769px) {
      max-width: 288px;
    }

    .cta-subtext {
      margin-top: -8px;
    }
  }

  .wallpaper {
    z-index: -1;

    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    @media screen and (min-width: 768px) {
      width: 100%;
      max-width: 91%;
    }

    img {
      object-fit: cover;
      height: 100%;
      max-width: 100%;
    }
  }

  .countdown {
    display: grid;
    gap: 4px;
    justify-items: center;
    @media screen and (min-width: 768px) {
      justify-items: flex-start;
    }

    .countdown-timer {
      display: grid;
      gap: 4px;
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 1fr);
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      .time-part {
        display: grid;
        justify-content: center;

        padding: 10px;

        background-color: white;
        border-radius: 4px;

        text-align: center;
        @media screen and (min-width: 768px) {
          width: 69px;
          padding: 4px;
        }

        .digit {
          font-size: 20px;
          @media screen and (min-width: 768px) {
            font-weight: 600;
            font-size: 32px;
            line-height: 125%;
          }
        }

        .label {
          font-size: 8px;
          @media screen and (min-width: 768px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

