.media-with-text-banners-wrapper {
  .banners-container {
    .banner-item {
      flex-direction: column;

      .media-wrapper {
        position: relative;

        iframe,
        img,
        video {
          object-fit: cover;
          width: 100%;
          aspect-ratio: 656 / 369;

          border-radius: 8px;
          overflow: hidden;
        }
      }

      .content-wrapper {
        .title {
          font-family: "Tiempos";
          font-weight: 400;
          font-size: 26px;
          margin: 1rem 0;
        }

        .content {
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .media-with-text-banners-wrapper {
    .banners-container {
      .banner-item {
        display: flex !important;
        flex-direction: row;
        margin-bottom: 2.5rem;
        justify-content: space-between;

        &.is-reversed {
          flex-direction: row-reverse;

          .content-wrapper {
            padding-left: 0;
          }
        }

        .media-wrapper {
          width: calc(50% - 16px);
        }

        .content-wrapper {
          width: calc(50% - 16px);
          display: flex;
          flex-flow: column;
          padding: 0 3rem;
          justify-content: center;

          .title {
            font-size: 36px;
          }

          .content {
            font-size: 16px;
          }
        }
      }
    }
  }
}
