#social-proof-section {

  .influencer {
    display: grid;
    gap: 12px;
    grid-template-rows: minmax(0, auto) minmax(0, 1fr);
    align-content: flex-start;
    max-width: 300px;
    height: 100%;

    border: 2px solid #EFEFF3;
    border-radius: 8px;
    background-color: white;

    overflow: hidden;
    &__image {
      aspect-ratio: 1;
      object-fit: cover;
    }

    &__tag {
      display: grid;
      gap: 8px;
      grid-template-columns: minmax(0, auto) minmax(0, 1fr);
      align-items: center;
    }


    &-details {
      display: grid;
      gap: 12px;
      align-content: flex-start;
      padding: 0 24px 24px;
    }
  }
}
