#store-localization-popup {
  z-index: 9999;

  display: none;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  max-width: 620px;
  padding: 0;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
  text-align: left;

  @media screen and (max-width: 47.9375em) {
    margin: 2rem 3%;
    width: 94%;
    border-radius: 0.625rem;
  }
}

.close-modal {
  position: absolute;

  top: 0.5rem;
  right: 1rem;

  color: #8a8a8a;

  font-size: 2em;
  line-height: 1;
  text-decoration: none;

  @media screen and (max-width: 47.9375em) {
    color: white;
    font-size: 2rem;
  }

}

.store-localization {
  &__wrapper {
    position: relative;
    background: #fffaf5;
    margin: 0 auto;

    display: flex;
    color: #1e2b5a;
    font-size: 16px;

    @media screen and (max-width: 47.9375em) {
      flex-direction: column;
    }
  }

  &__sidebar {
    background-color: #ffa355;
    padding: 2.5rem 1.5rem;

    @media screen and (max-width: 47.9375em) {
      display: flex;
      justify-content: center;
      padding: .5rem 0;
      svg {
        height: 3.125rem;
      }
    }
  }
}

.from-abroad {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  @media screen and (max-width: 47.9375em) {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
}

.quick-redirect {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  @media screen and (max-width: 47.9375em) {
    margin-bottom: 1rem;
  }
}


.change-country {
  padding: 2.5rem 5rem 2.5rem 1.5rem;

  @media screen and (max-width: 47.9375em) {
    padding: 1.25rem 2rem;

    text-align: center;
  }

  &__dropdown-label {
    margin: 0;
    padding: 0;

    font-size: inherit;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

    @media screen and (max-width: 47.9375em) {
      margin: 0 0 .5rem;
      font-size: 14px;
    }
  }

  &__dropdown {
    width: 100%;

    margin: 0 0 1.5rem 0;
    padding: 6px 12px;

    appearance: none;
    border: 1px solid #1e2b5a;
    border-radius: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    color: #1e2b5a;
    transition: box-shadow 0.3s, border-color 0.25s ease-in-out,
    -webkit-box-shadow 0.3s;
    background: #fffaf5;
    cursor: pointer;
    outline: none;


    @media screen and (max-width: 47.9375em) {
      margin: 0 0 1rem 0;

      text-align: center;
    }
  }

  .redirect-button {
    cursor: pointer;

    background: #ffa355;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
    border: 2px solid #ffa355;
    color: #1e2b5a;

    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    line-height: 1;

    text-decoration: none;
    word-break: keep-all;
    &:hover {
      background: white;
      color: #ffa355;
    }


    @media screen and (max-width: 47.9375em) {
      width: 100%;

      padding: .75rem;
    }
  }
}

.keep-me-container {
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: 47.9375em) {
    justify-content: center;
  }
}

.keep-me {
  border: none;
  text-decoration: underline;
  cursor: pointer;
  color: #1e2b5a;

  @media screen and (max-width: 47.9375em) {
    font-size: .875rem;
  }

}

.keep-me:hover {
  color: #ffa355;
  text-decoration: none;
}

.blocker {
  z-index: 9999;
}
