.cart-pricing {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, minmax(0, auto));
  align-items: center;
  justify-content: flex-end;

  &__price {
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    &--total {
      color: $colorCharade;
    }
    &--original {
      color: $colorComet;
      font-weight: 400;
      font-size: 0.625rem;
      text-decoration-line: line-through;
    }
  }

  &--row {
    grid-template-columns: initial;
    grid-auto-flow: row;
    justify-items: flex-end;
  }
}
