.mini-comparison-specs {
  .mini-comparison-table {

    --rowHeaderWidth: 80px ;
    grid-template-columns: minmax(0, var(--rowHeaderWidth)) minmax(1, minmax(0, 1fr)) repeat(2, minmax(0, 1fr)) !important;

    @media screen and (min-width: 768px) {
      --rowHeaderWidth: 100px !important;
    }

    @media screen and (min-width: 1280px) {
      --rowHeaderWidth: 220px !important;
    }

    .last-row {
      font-weight: 400 !important;
    }
    
    .row-highlight { 
      font-weight: 600 !important;
      font-size: 18px !important;
    }
  }
}
